
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Wall In MEAN</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="container">

			<% if (typeof(errors) != 'undefined')  { %>
     			<% for (var x in errors) { %>
      				<h4><%= errors[x].message %></h4>
    			<% } %>
 			<% } %>

		<div class="row">
			<div class="col-xs-12">
				<h1>The Dojo Message Board</h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				<form action="/messages" method="post">
					<div class="form-group">
						<label>Name:</label>
						<input type="text" name="name" class="form-control">
					</div>
					<div class="form-group">
						<label>Message:</label>
						<textarea name="text" class="form-control" rows="10"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-default pull-right">Post Message</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				<% if (typeof messages !== 'undefined') { %>
					<% for (var x in messages) { %>
						<h2>Name: <%= messages[x].name %></h2>
						<h3>Message: "<%= messages[x].text %>"</h3>
						<% for (var y in messages[x].comments) { %>
							<div class="comment-wrapper">
								<h4>Name: <%= messages[x].comments[y].name %></h4>
								<h4>Comment: "<%= messages[x].comments[y].text %>"</h4>
							</div>
						<% } %>

						<form action="/messages/<%= messages[x].id %>/comment" method="post">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" name="name" class="form-control">
							</div>
							<div class="form-group">
								<label>Comment:</label>
								<textarea name="text" class="form-control" rows="10"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-primary">Add Comment</button>
							</div>
						</form>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
</body>
</html>